@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">
	
	<!-- If user is loged in - show navbar -->
	@if (_globalState.CurrentUser != null)
	{
		<div class="sidebar">
			<NavMenu />
		</div>
	}
	<main>
		<article class="content px-4">
			<CascadingValue Value="@_globalState">
				@Body
			</CascadingValue>
		</article>
	</main>
</div>

@code {
	private GlobalState _globalState = new();

	protected override void OnInitialized()
	{
		UserService.SeedUsers();
	}
}

